<!-- Signup Wrapper -->
<div class="signup-wrapper">
  <form [formGroup]="SignUp" class="signup-form" *ngIf="signupdata">
    <h2>{{ signupdata.signup.title1 | translate }}</h2>

    <!-- Username -->
    <label>
      <div class="label-row">
        {{ signupdata.signup.usename | translate }} <span>*</span>
      </div>
      <input
        type="{{ signupdata.signup.type1 }}"
        formControlName="username"
        placeholder="{{ signupdata.signup.placeholder | translate }}"
      />
    </label>

    <!-- Name -->
    <label>
      <div class="label-row">
        {{ signupdata.signup.name | translate }} <span>*</span>
      </div>
      <input
        type="{{ signupdata.signup.type1 }}"
        formControlName="name"
        placeholder="{{ signupdata.signup.phname | translate }}"
      />
    </label>

    <!-- Email -->
    <label>
      <div class="label-row">
        {{ signupdata.signup.email | translate }} <span>*</span>
      </div>
      <input
        type="{{ signupdata.signup.type1 }}"
        formControlName="email"
        placeholder="{{ signupdata.signup.phemail | translate }}"
      />
    </label>

    <!-- Phone Number -->
    <label>
      <div class="label-row">
        {{ signupdata.signup.phno | translate }} <span>*</span>
      </div>
      <input
        type="{{ signupdata.signup.type1 }}"
        formControlName="phno"
        placeholder="{{ signupdata.signup.phphno | translate }}"
      />
    </label>

    <!-- Password -->
    <label>
      <div class="label-row">
        {{ signupdata.signup.password | translate }} <span>*</span>
      </div>
      <input
        type="{{ signupdata.signup.type2 }}"
        formControlName="password"
        placeholder="{{ signupdata.signup.phpasswrd | translate }}"
      />
    </label>

    <!-- Confirm Password -->
    <label>
      <div class="label-row">
        {{ signupdata.signup.confirmpassword | translate }} <span>*</span>
      </div>
      <input
        type="{{ signupdata.signup.type2 }}"
        formControlName="confirmpassword"
        placeholder="{{ signupdata.signup.phpasswrd | translate }}"
      />
    </label>

    <button type="button" (click)="toSignup()">
      {{ signupdata.signup.button | translate }}
    </button>
  </form>
</div>
