<!DOCTYPE html>
<html lang="en">
 
<body>
    <!-- header section start -->
    <header class="header">
        <nav class="navbar">
            <a href="" class="logo"><i class="fa-regular fa-user"></i>Deepa B</a>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#features">About</a></li>
                <li><a href="#projects">Projects</a></li>
            </ul>
            <button class="menu-toggle">☰</button>
        </nav>
    </header>
    <!-- header section end -->
 
    <!-- first section starts -->
    <section id="home" class="first">
        <div class="first-content">
            <h1>FRONTEND DEVELOPER</h1>
            <p>I am Deepa - <span>Web Developer</span> with a passion for creating beautiful and responsive websites</p>
            <a href="assets/Deepa_Resume.pdf" target="_blank" class="btn">
  My Resume <i class="fa-solid fa-arrow-up-right-from-square"></i>
</a></div>
    </section>
    <!-- first section end -->
 
    <!-- feature section starts -->
    <section id="features" class="features">
        <h2>My Services</h2>
        <div class="features-grid">
            <div class="features-item">
                <h3>Responsive Design</h3>
                <p> I create responsive, high-performing single-page web apps using Angular that adapt to any screen size and provide seamless experiences across devices.</p>
            </div>
            <div class="features-item">
                <h3>Modern UI</h3>
                <p>Building beautiful, intuitive, and accessible interfaces is my specialty. From custom components to full-fledged UI/UX design, I can craft a user experience that aligns with your brand while ensuring smooth navigation and interaction.</p>
            </div>
            <div class="features-item">
                <h3>Performance Optimization</h3>
                <p>I focus on optimizing your Angular applications for faster loading and better performance. By employing advanced techniques like lazy loading.  I ensure your app runs smoothly even with large-scale data.</p>
            </div>
        </div>
    </section>
    <!-- feature section end -->
 
    <!-- contact section starts -->
    <section id="projects" class="features">
      <h2>My Projects</h2>
      <div class="features-grid">
          <div class="features-item">
            <button [routerLink]="['/project1']"><i class="fa-solid fa-arrow-up-right-from-square"></i></button>
              <h3>My Daily Planner</h3>
              <p class="project-about">This project showcases the use of Angular’s reactive forms, input/output decorators, component communication, and dynamic data handling to build a responsive and interactive UI.</p>
          </div>
          <div class="features-item">
            <button [routerLink]="['/project2']"><i class="fa-solid fa-arrow-up-right-from-square"></i></button>
              <h3>Shopping Website</h3>
              <p class="project-about">Done by using Forms, validation, routing,service, etc..</p>
          </div>
          <div class="features-item">
            <button [routerLink]="['/project3']"><i class="fa-solid fa-arrow-up-right-from-square"></i></button>
              <h3>Login Form</h3>
              <p class="project-about">....</p>
          </div>
      </div>
  </section>
    <!-- contact section end -->
 
    <!-- footer section starts -->
    <footer class="footer">
        <div class="footer-container">
            <p>&copy; 2025 Deepa_portfolio. All rights reserved</p>
            <div class="profile-icons">
                <a href="http://www.linkedin.com/in/deepa-b-profile" class="profile-icon"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/Deepa-0108/Deepa_portfolio" class="profile-icon"><i class="fa-brands fa-github"></i></a>
                <a href="mailto:deepabaskar0108@gmail.com" class="profile-icon"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
    </footer>
    <!-- footer section End -->
 
 
 
</body>
 
</html>