<div class="login-wrapper" *ngIf= "signupdata">
  <form class="login-form" [formGroup]="Login">
    <h2>{{ signupdata.signup.title2 | translate }}</h2>
<label>
    <div class="label-row">
      {{ signupdata.signup.usename | translate }} <span>*</span>
      </div>
      <input
        type="text"
        formControlName="username"
        placeholder="{{ signupdata.signup.placeholder | translate }}"
      />
    
</label>
    <label>
      <div class="label-row">
      {{ signupdata.signup.password | translate }} <span>*</span>
      </div>
      <input
        type="password"
        formControlName="password"
        placeholder="{{ signupdata.signup.phpasswrd | translate }}"
      />
      
    </label>

    <button type="button" (click)="onSubmit()">Login</button>

    <p *ngIf="login" class="error-msg">
      *Please enter valid username and password!
    </p>
  </form>
</div>
